environment.conf
**/vault*.yml
!**/*.sample
!config/*.sample
inventory-generator/deployments/
inventory-generator/*_inventory_basevars.yml
!inventory-generator/inventory_basevars.yml
kickstart-generator/group_vars/provisioner/*
!kickstart-generator/group_vars/provisioner/.gitkeep
*.retry
.ansible/
*~
*.iso
ks.cfg
