DOMAIN="CHANGEME.example.com"
REPO_ROOT="CHANGEME"
VAULT_DIR="${HOME}/.rhis-vault"
VAULT_FILE="${VAULT_DIR}/rhis_builder_vault.yml"
OEMDRV_DIR="/mnt/OEMDRV"
OEMDRV_ISO_DIR="/mnt/OEMDRV/ISO"
INVENTORY_PATH="inventory"
LIMIT="provisioner"
HOSTS_VAR="bootstrap_init_hosts"
